<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/cf7edc5a-ef9f-4f83-a4ec-f2c5fbc8da4f/resourceGroups/Pruebas/providers/Microsoft.ContainerRegistry/registries/InventorySystemAPIContainer</ResourceId>
    <ResourceName>InventorySystemAPIContainer</ResourceName>
    <ResourceGroup>Pruebas</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://inventorysystemapicontainer.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>044fe2c3-6bbb-403e-1f7a-8fedfb5393c1</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>